body {
    margin-top: 80px;
}

.product {
    height: 430px;
}

.description-product-image
{
    float: left;
    max-height: 140px;
    max-width: 140px;
    margin: 15px;
}

.delete-package-button {
    float:right;
}

.package-row,
.add-package-form {
    margin: 3px;
    padding: 5px 15px 5px 15px;
    border: solid thin  silver;
}

.primary-product-image {
    max-height: 140px;
    max-width: 140px;
}

.product-image-wrapper,
.user-product-image-wrapper,
.user-product-label-wrapper
{
    height: 350px;
}

.user-product-label
 {
    height: 300px;
}

.user-product-image, .product-image
 {
    max-height: 250px;
    max-width: 250px;
}

.user-product-price {
    font-size: 110%;
    font-weight: bold;
}

.user-product-row {
    height: 400px;
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: solid thin silver;
}

